@import "ant-design-vue/dist/antd.dark.less";

.dark {
    --text-color: #E5EAF3;
    --bg-color-mute: #2c2c2c;
    --border-color: #4C4D4F;
    --hover-bg: #2B2B2C;
    // DarkMode
    --z-dark-switch-action-bg: #000;
    // Login
    --login-bg-img: url('../../image/login_bg_dark.png');
    --login-bg: #0c0e12;
    --login-before-bg: none;
    --login-form-right-bg: transparent;
    --login-form-left-bg: transparent;
    --login-form-left-after: linear-gradient(to bottom, transparent, var(--border-color), transparent);
    --login-form-title-shadow: none;
    --login-form-title-color: var(--text-color);
    --login-form-title-shadow: 2px 2px 3px #003db8;
    --login-form-border-color: transparent;
    --login-divider-bg: #202124;
    // Layout
    --layout-bg: #f6f8f9;
}