@import "./light.less";
@import "./dark.less";

:root {
    --primary-color: var(--ant-primary-color);

    --logo-size: 30px;
    --logo-font-size: 18px;

    [menu-type="mix"],
    [menu-type="horizontal"] {
        --logo-size: 25px;
        --logo-font-size: 16px;
    }

    .sm-menu {
        --logo-size: 30px;
        --logo-font-size: 18px;
    }
}