.light {
    --text-color: #303133;
    --bg-color-mute: #f2f2f2;
    --border-color: #dcdfe6;
    --hover-bg: #f2f6fc;
    // DarkMode
    --z-dark-switch-action-bg: #fff;
    // Login
    --login-bg: #fff;
    --login-before-bg: linear-gradient(72.5deg, rgb(14, 161, 230) 27.9%, rgb(0, 224, 254) 84.2%);
    --login-form-right-bg: #fff;
    --login-form-left-bg: #fff;
    --login-form-left-after: linear-gradient(to bottom, #efefef, var(--border-color), #efefef);
    --login-form-title-color: #fff;
    --login-form-title-shadow: 2px 2px 3px #555;
    --login-form-border-color: var(--border-color);
    // Layout
    --layout-bg: #f6f8f9;
}