.light {
    --text-color: #303133;
    --bg-color-mute: #f2f2f2;
    --border-color: #dcdfe6;
    // DarkMode
    --z-dark-switch-action-bg: #fff;
    // Login
    --login-bg: #fff;
    --login-before-bg: linear-gradient(72.5deg, rgb(14, 161, 230) 27.9%, rgb(0, 224, 254) 84.2%);
    --login-form-right-bg: #fff;
    --login-form-left-bg: #fff;
    --login-form-left-after: linear-gradient(to bottom, #efefef, var(--border-color), #efefef);
    --login-form-title-color: #fff;
    --login-form-title-shadow: 2px 2px 3px #555;
    --login-form-border-color: var(--border-color);
    --login-divider-bg: #fff;
    // Layout
    --layout-bg: #f6f8f9;
    --logo-bg: transparent;
    // Header
    --header-bg: #fff;
    --header-hover-bg: #f0f2f5;
    // Sider
    --scrollbar-bg: #53606e;
    // Setting
    --setting-bg: var(--ant-primary-color);
    --setting-style-bg: #fff;
    --setting-style-bg2: #f0f2f5;
    --setting-style-bg3: #263748;
    --setting-style-pseudo: rgba(0,21,41,.65);
    --setting-style-pseudo1: #fff;
    --setting-style-pseudo2: #0f1c29;
    --setting-style-pseudo3: rgba(0,21,41,.85);
    --setting-style-shadow: 0 1px 2.5px 0 rgb(0 0 0 / 18%);
    --setting-style-handle: #fff;
    // Tabs
    --tabs-active-color: var(--ant-primary-color);
    --tabs-bg: #fff;
    --tabs-active-bg: var(--ant-primary-1);
    --tabs-hover-color: var(--ant-primary-color);


    #app[menu-theme="light"] {
        --logo-text-color: #3f3f3f;
        --header-bg: #fff;
    }
    
    #app[menu-mode="mix"] {
        --logo-text-color: #fff;
        --header-bg: #001529;
    }

    #app[menu-theme="dark"] {
        --logo-text-color: #fff;
    }
    
    #app[menu-theme="light"]#app[menu-mode="mix"] {
        --logo-text-color: #fff;
    }

    #app[menu-theme="dark"]#app[menu-mode="horizontal"] {
        --header-bg: #001529;
        --logo-bg: #001529;
        --logo-text-color: #fff;
    }

    #app[menu-theme="light"]#app[menu-mode="mix"],
    #app[menu-theme="dark"]#app[menu-mode="horizontal"] {
        --header-right-color: rgba(255, 255, 255, .65);
        --header-hover-bg: #252a3d;
    }
}